<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Add New Message"})  %>
</head>
<body>
    <%- include("partials/navbar") %>
    <h1>Add new message</h1>

    <form action="addNewMessage" method="post">
        <input type="text" name="newMessage" placeholder="Enter your message here ..." required>
        <button type="submit">Send</button>
    </form>
</body>
</html>