<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Message</title>
</head>
<body>
    <h1>Add new message</h1>
    <form action="addNewMessage" method="post">
        <textarea name="newMessage" placeholder="Enter you new message here ..."></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>