<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Login"})  %>
</head>
<body>
    <%- include("partials/navbar") %>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <% if (errors && errors.length > 0) { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li>
                        <%= error.msg %>
                    </li>
               <% }) %>
            </ul>
        <% } %>
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Enter your username here..." required>

        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Enter your password here..." required>

        <button type="submit">Login</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>