<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {title: "Upgrade Membership"})  %>
<body>
    <%- include("partials/navbar") %>
    <h1>Upgrade Membership</h1>
    <h2>Enter secrect password to become member of this website</h2>
    <form action="/upgradeAccount/membership" method="post">
        <label for="secrectPassword">Secrect password: </label>
        <input name="secrectPassword" type="password" placeholder="Enter secrect password here ...">
        <button type="submit">Upgrade membership</button>

        <% if (errors && errors.length > 0) { %>
            <ul>
            <% errors.forEach(error => { %>
            <li>
                <%= error.msg  %>
            </li>
            <% }) %>
        </ul>
        <% } %>
        
    </form>

    
</body>
</html>